USE [Midterm2025]
GO
DROP TABLE IF EXISTS Logins
DROP TABLE IF EXISTS Employees
DROP TABLE IF EXISTS Equipment_To_Categories
DROP TABLE IF EXISTS Categories
DROP TABLE IF EXISTS RentalPayments
DROP TABLE IF EXISTS Rentals
DROP TABLE IF EXISTS Equipment
DROP TABLE IF EXISTS Customers
DROP TABLE IF EXISTS [ADDRESS]

CREATE TABLE [dbo].[Address](
	[ID] [int] NOT NULL,
	[Address1] [varchar](255) NULL,
	[Address2] [varchar](255) NULL,
	[PostalCode] [char](6) NULL,
	[City] [varchar](150) NULL,
	[Province] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/27/2024 2:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] NOT NULL,
	[Description] [varchar](100) NULL,
	[Name] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/27/2024 2:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[AddressID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/27/2024 2:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[AddressID] [int] NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 2/27/2024 2:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EquipmentID] [int] NOT NULL,
	[EquipmentName] [varchar](75) NULL,
	[Description] [varchar](500) NULL,
	[RentalRate] [money] NULL,
	[Available] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment_To_Categories]    Script Date: 2/27/2024 2:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment_To_Categories](
	[EquipmentID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalPayments]    Script Date: 2/27/2024 2:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalPayments](
	[PaymentID] [int] NOT NULL,
	[RentalID] [int] NULL,
	[Amount] [money] NULL,
	[PaymentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 2/27/2024 2:31:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[RentalID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[EquipmentID] [int] NULL,
	[RentalDate] [date] NULL,
	[ReturnDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([ID], [Address1], [Address2], [PostalCode], [City], [Province]) VALUES (1, N'123 Main St', N'Apt 101', N'M1M1M1', N'Regina', N'SK')
INSERT [dbo].[Address] ([ID], [Address1], [Address2], [PostalCode], [City], [Province]) VALUES (2, N'456 Elm St', NULL, N'V5V5V5', N'Regina', N'SK')
INSERT [dbo].[Address] ([ID], [Address1], [Address2], [PostalCode], [City], [Province]) VALUES (3, N'789 Oak St', N'Suite 201', N'K2K2K2', N'Regina', N'SK')
GO
INSERT [dbo].[Categories] ([ID], [Description], [Name]) VALUES (1, N'Tools used for cutting materials such as wood, metal, or plastic.', N'Sawing Tools')
INSERT [dbo].[Categories] ([ID], [Description], [Name]) VALUES (2, N'Tools used for drilling holes in various materials such as wood, metal, or concrete.', N'Drilling Tools')
INSERT [dbo].[Categories] ([ID], [Description], [Name]) VALUES (3, N'Tools used for breaking or demolishing materials such as concrete, masonry, or asphalt.', N'Demolition Tools')
GO
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [AddressID]) VALUES (1, N'John', N'Doe', N'john@example.com', N'555-123-4567', 1)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [AddressID]) VALUES (2, N'Jane', N'Smith', N'jane@example.com', N'555-987-6543', 2)
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [AddressID]) VALUES (3, N'David', N'Johnson', N'david@example.com', N'555-321-7890', 3)
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [Phone], [AddressID], [HireDate]) VALUES (1, N'John', N'Smith', N'john.smith@rent2U.com', N'123-456-7890', 61, CAST(N'2023-05-15' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [Phone], [AddressID], [HireDate]) VALUES (2, N'Emily', N'Johnson', N'emily.johnson@rent2U.com', N'987-654-3210', 62, CAST(N'2023-03-20' AS Date))
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [Email], [Phone], [AddressID], [HireDate]) VALUES (3, N'Michael', N'Williams', N'michael.williams@rent2U.com', N'555-123-4567', 63, CAST(N'2022-11-10' AS Date))
GO
INSERT [dbo].[Equipment] ([EquipmentID], [EquipmentName], [Description], [RentalRate], [Available]) VALUES (1, N'Circular Saw', N'Heavy-duty circular saw with a 7-1/4 inch blade.', 25.0000, 1)
INSERT [dbo].[Equipment] ([EquipmentID], [EquipmentName], [Description], [RentalRate], [Available]) VALUES (2, N'Drill Driver', N'Cordless drill driver with variable speed settings.', 20.7500, 1)
INSERT [dbo].[Equipment] ([EquipmentID], [EquipmentName], [Description], [RentalRate], [Available]) VALUES (3, N'Impact Wrench', N'Electric impact wrench for heavy-duty fastening tasks.', 45.5000, 1)
GO
INSERT [dbo].[Equipment_To_Categories] ([EquipmentID], [CategoryID]) VALUES (1, 1)
INSERT [dbo].[Equipment_To_Categories] ([EquipmentID], [CategoryID]) VALUES (2, 2)
INSERT [dbo].[Equipment_To_Categories] ([EquipmentID], [CategoryID]) VALUES (3, 2)
GO
INSERT [dbo].[RentalPayments] ([PaymentID], [RentalID], [Amount], [PaymentDate]) VALUES (1, 1, 314.0000, CAST(N'2023-01-10' AS Date))
INSERT [dbo].[RentalPayments] ([PaymentID], [RentalID], [Amount], [PaymentDate]) VALUES (2, 2, 285.0000, CAST(N'2023-02-18' AS Date))
INSERT [dbo].[RentalPayments] ([PaymentID], [RentalID], [Amount], [PaymentDate]) VALUES (3, 3, 230.3000, CAST(N'2023-03-15' AS Date))
GO
INSERT [dbo].[Rentals] ([RentalID], [CustomerID], [EquipmentID], [RentalDate], [ReturnDate]) VALUES (1, 12, 5, CAST(N'2023-01-05' AS Date), CAST(N'2023-01-10' AS Date))
INSERT [dbo].[Rentals] ([RentalID], [CustomerID], [EquipmentID], [RentalDate], [ReturnDate]) VALUES (2, 28, 15, CAST(N'2023-02-12' AS Date), CAST(N'2023-02-18' AS Date))
INSERT [dbo].[Rentals] ([RentalID], [CustomerID], [EquipmentID], [RentalDate], [ReturnDate]) VALUES (3, 3, 32, CAST(N'2023-03-08' AS Date), CAST(N'2023-03-15' AS Date))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([ID])
GO
ALTER TABLE [dbo].[Equipment_To_Categories]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Equipment_To_Categories]  WITH CHECK ADD FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[RentalPayments]  WITH CHECK ADD FOREIGN KEY([RentalID])
REFERENCES [dbo].[Rentals] ([RentalID])
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
